scikit-learn>=1.5.0
python-fasthtml>=0.8.0
matplotlib>=3.9.0
scipy>=1.14.0
numpy>=2.0.0
pandas>=2.2.0
pytest
flake8
ipython
# After installing requirements.txt, install the Python package:
# cd python-package && python setup.py sdist && pip install dist/*.tar.gz
